<!DOCTYPE html>
<html lang="fr">
    <head>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Administration</title>

        <!-- Feuille de style -->
        <link rel="stylesheet" href="{{ asset('bundles/mmitvback/style/style.css')}}">

        <!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{{ asset('bundles/mmitvback/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/mmitvback/js/app.js')}}"></script>

        <link rel='stylesheet' href="{{ asset('bundles/mmitvback/fullcalendar/fullcalendar.css')}}" />
        <script src="{{ asset('bundles/mmitvback/lib/moment.min.js')}}"></script>
        <script src="{{ asset('bundles/mmitvback/lib/jquery-ui.min.js')}}"></script>
        <script src="{{ asset('bundles/mmitvback/fullcalendar/fullcalendar.js')}}"></script>
        <script src="{{ asset('bundles/mmitvback/lib/lang-fr.js')}}"></script>

    </head>

    <body>

        <header>
            <div class="logo">
                <p>MMI TV</p>
            </div>
            <div class="header-content" id="header-content">
                <div class="breadcrumb" id="breadcrumb">
                    <div class="br-content">
                        <span class="home">
                            <a href="#">ADMINISTRATION</a>
                        </span>
                        <span class="path-divider">-</span>

                        <span><a href="{{ path('fos_user_profile_show') }}">Profil</a></span>
                        <span><a href="{{ path('fos_user_change_password') }}">Mot de passe</a></span>
                        <span><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></span>

                         <!-- <i class="icon-enter"></i> Déconnexion -->

                    </div>
                </div>

               <!--  <div class="user">
                      <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                      <a href="{{ path('fos_user_change_password') }}">Mot de passe</a>
                      <a href="#">Aide</a>
                      <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </div> -->

            </div>


        </header>

        <div class="nav-button-responsive" id="nav-button-responsive">
            <i class="icon-menu"></i>
        </div>
        <div class="nav" id="nav">
            <div class="menu">
                <a href="{{ path('mmitv_back_index') }}">
                    <span>Dashboard</span>
                </a>
            </div>

            <div class="submenu" id="submenu">
                <a href="#"><span>Vidéos</span></a>
                <div class="sub-content hide" id="sub-content">
                    <a href="{{ path('mmitv_back_video_index') }}"> Liste</a>
                    <a href="{{ path('mmitv_back_video_add') }}"> Ajouter</a>
                </div>
            </div>

            <div class="menu">
                <a href="{{ path('mmitv_back_planning_index') }}">
                    <span>Planning</span>
                </a>
            </div>

            <div class="submenu" id="submenu">
                <a href="{{ path('mmitv_back_twitter_index') }}"><span>Messages</span></a>
            </div>

{% if is_granted('ROLE_SUPER_ADMIN') %}

            <div class="submenu" id="submenu">
                <a href="#"> <span>Utilisateurs</span></a>
                <div class="sub-content hide" id="sub-content">
                    <a href="{{ path('user') }}"> Liste</a>
                    <a href="{{ path('mmitv_back_utilisateurs_add') }}"> Ajouter</a>
                </div>
            </div>

            <div class="submenu" id="submenu">
                <a href="{{ path('mmitv_back_onair_index') }}"><span>Animation on-air</span></a>
            </div>

            <div class="submenu" id="submenu">
                <a href="{{ path('mmitv_back_offair_index') }}"><span>Animation off-air</span></a>
            </div>

{% endif %}

        </div>


    <div class="content">


{% block main %}

{% endblock %}




		</div>






    </body>





</html>
