{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}






            <h1>Planning de diffusion</h1>

			<p>
				Choisissez ici les dates et horaires de diffusion des vidéos. Glissez les vidéos ci-dessous sur l'endroit souhaité sur le planning.
			</p>

			<div id='external-events' class="bloc_back">
				<h2>Vidéos ajoutées</h2>

				{% for video in videos %}

					<div class="fc-event" data-duration="{{video.dureeVideos}}" id="{{ video.id }}">{{ video.nomVideos }}</div>

				{% endfor %}

				<!-- <p>
					<input type='checkbox' id='drop-remove' />
					<label for='drop-remove'>remove after drop</label>
				</p> -->
			</div>



			<div id='calendar'></div>



			 <script>

        $(document).ready(function() {

            $('#external-events .fc-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

            // On initialise le calendrier...

            $('#calendar').fullCalendar({

                events: [


                	{% for video in videos %}

	                	{
	                        title: "{{ video.nomVideos }}",
	                        start: "{{video.debutVideos|date('Y-m-d\\TH:i:sP')}}",
	                        id: "{{ video.id }}"
	                    },

					{% endfor %}
                ],


                lang: 'fr', // francais
                defaultView: 'agendaWeek', //Vue par defaut : en semaine

                header: {
                    left: 'prev,next today', // a fauche : les boutons pour changer de semaine
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },

                allDaySlot: false,
                slotEventOverlap : false,

                weekends: false, // pas de WE

                eventColor: '#2e8fb0', // couleur des bulles d'evenement
                minTime: '08:00', // la journée commence a 8h
                maxTime:'20:00', // et finit a 20h

                editable:false,
                eventDurationEditable: false,

                droppable: true, // autorise des elements a etre dragués dans le calendrier
                dragRevertDuration: 200,



                // Quand on a fini le drag on UPDATE la BDD avec la nouvelle date
                eventDragStop: function(event, jsEvent, ui, view){

                	// alert("DRAG fini : on update la BDD avec ces informations. Titre: "+event.title+" ; début de la vidéo : "+event.start;

                	$.ajax({
                    	type: 'POST',
					  	url: "{{ path('mmitv_back_planning_edit_drag') }}",
					  	data: {
					  		'id': this.id,
					  		'start': event.start.format()
					  	},

					  	error: function(){
					  		alert('FAIL');
					  	},

					  	success: function(){
					  		alert('SUCCESS');
					  	}

					});

                },


                // Quand on a dragué un nouvel élement on AJOUTE dans la BDD
                drop: function(date, jsEvent, ui){

                    // alert("ADD fini : on update la BDD avec ces informations. Date: "+date.format());

                    $.ajax({
                    	type: 'POST',
					  	url: "{{ path('mmitv_back_planning_edit_drop') }}",
					  	data: {
					  		'id': this.id,
					  		'debut': date.format()
					  	},

					  	error: function(){
					  		// alert('FAIL');
					  	},

					  	success: function(){
					  		// alert('SUCCESS');
					  	}

					});

                    $(this).remove();
                },

                eventClick: function (calEvent, jsEvent, view) {

                    $('#calendar').fullCalendar('removeEvents', calEvent._id);

                    // alert("Suppression  : on delete la BDD avec ces informations. Titre: "+calEvent.id);

                    $.ajax({
                    	type: 'POST',
					  	url: "{{ path('mmitv_back_planning_delete') }}",
					  	data: {'id': calEvent.id},

					  	error: function(){
					  		// alert('FAIL');
					  	},

					  	success: function(){
					  		// alert('SUCCESS');
					  	}

					});
                },

                // Quand on a supprimé un élement
                eventDestroy: function(event, element, view){


                }

            })

        });
        </script>









<!--
			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<form action="">
				<label for="semaine">Choisissez une semaine</label>
				<select id="semaine">
		           <option value="1">23 au 27 mars</option>
		           <option value="2">30 mars au 3 avril</option>
		           <option value="3">6 au 10 avril</option>
		           <option value="4-uni">13 au 17 avril</option>
		       </select>
			</form>


			<table>
				<tr>
					<td></td>
					<td>Lundi 23 mars 2015</td>
					<td>Mardi 24 mars 2015</td>
					<td>Mercredi 25 mars 2015</td>
					<td>Jeudi 26 mars 2015</td>
					<td>Vendredi 27 mars 2015</td>
				</tr>
				<tr>
					<td>8h00</td>
					<td rowspan="2" class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>8h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9h30</td>
					<td rowspan="2" class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td rowspan="2" class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
				</tr>
				<tr>
					<td>10h00</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>10h30</td>
					<td></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>11h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>11h30</td>
					<td></td>
					<td></td>
					<td rowspan="3" class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>12h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>12h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>13h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>13h30</td>
					<td></td>
					<td class="tableau_fill"><h2>Cinéma</h2><h3>Bandes annonces</h3></td>
					<td></td>
					<td></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
				</tr>
				<tr>
					<td>14h00</td>
					<td></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>14h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>15h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td class="tableau_fill"><h2>Cinéma</h2><h3>Bandes annonces</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>15h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>17h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>17h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table> -->




{% endblock %}


