{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}


            <h1>Vidéo</h1>

			<p>
				C'est dans cette section que vous devez ajouter independamment les vidéos que vous souhaitez diffuser.<br/>
				Après avoir ajouté les vidéos, rendez-vous dans la section <a href="{{ path('mmitv_back_planning_index') }}">planning</a> pour choisir la date de diffusion des vidéos.
			</p>

			<!-- <form action="">
				<label for="lien">Lien de la vidéo</label><input id="lien" type="text">
				<input type="submit" value="Ajouter une vidéo">
			</form>
 			-->

			<div class="bouton"><a href="{{ path('mmitv_back_video_add') }}">Ajouter une vidéo</a></div>


			{% for video in videos %}

				<div class="in_bloc_back">
					<h2><a href="https://www.youtube.com/watch?v={{ video.lienVideos }}">{{ video.nomVideos }}</a></h2>
					<h3>https://www.youtube.com/watch?v={{ video.lienVideos }}</h3>

					<p>Durée de la vidéo : {{ video.dureeVideos|date('h:i:s') }}</p>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

					<div class="bouton"><a href="{{ path('mmitv_back_video_edit', {id: video.id}) }}">Modifier</a></div>
					<div class="bouton_rouge"><a href="{{ path('mmitv_back_video_delete', {id: video.id}) }}">Supprimer</a></div>
					{% endif %}
				</div>

			{% endfor %}


{% endblock %}


