<!DOCTYPE html>
<html lang="fr">

	<head>

		<!--[if lt IE 9]>
	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<meta charset="UTF-8">
		<title>MMI TV</title>
		<meta name="viewport" content="width=device-width" />

	    <!-- Feuilles de style -->
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mmitvfront/style/style.css')}}">

		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>


	</head>

	<body>

		<nav id="nav">
			<div id="heure">
				<p></p>
			</div>

			<div id="edt">

				<h1>Prochains cours</h1>

				<div class="slider_edt">
					<ul>
						<!-- <li id="mmi1">

							<h2>MMI 1</h2>

						</li>

						<li id="mmi1d">

							<h2>MMI 1D</h2>

						</li>

						<li id="mmi2">

							<h2>MMI 2</h2>

						</li>

						<li id="mmi2d">

							<h2>MMI 2D</h2>

						</li>
 -->
					</ul>
				</div>

			</div>

		</nav>

		<div id="main-container">

			<!-- Vidéo de la page ici -->
            <div id="videos">

            </div>
            <div id="ytplayer"></div>


			<!-- <div id="player">
				<iframe src="https://www.youtube.com/embed/0vxOhd4qlnA" frameborder="0" allowfullscreen></iframe>
			</div> -->

			<!--  -->

			<div id="logo">
				<img src="{{ asset('bundles/mmitvfront/images/logo.svg')}}" alt="">
			</div>

			<div id="bandeau_tweets">


				<div class="slider_tweets container">
				    <ul>
					    {% for tweet in tweets %}
							<li>
								<p>{{ tweet.compteTweet }}</p>
							</li>
						{% endfor %}
				    </ul>
				</div>



			</div>

			<div id="synthe">
				<div id="left"><p>Vous regardez</p></div><!--
			 --><div id="right"><p>Interstellar - Christopher Nolan</p></div>
			</div>



		</div>

		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/main.js')}}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/unslider.js')}}"></script>
		<script>

			function isset ()
				{

				  var a = arguments,
				    l = a.length,
				    i = 0,
				    undef;

				  if (l === 0)
				  {
				    throw new Error('Empty isset');
				  }

				  while (i !== l)
				  {
				    if (a[i] === undef || a[i] === null)
				    {
				      return false;
				    }
				    i++;
				  }
				  return true;
				}


				// on récupere la date toutes les 5 secondes pour l'afficher dans la div #heure dans la nav
				$(function(){

					date = new Date();

					h = date.getHours();
				    if(h<10)
				    {
				            h = "0"+h;
				    }
				    m = date.getMinutes();
				    if(m<10)
				    {
				            m = "0"+m;
				    }

				    resultat = h+':'+m;

				    $('nav #heure p').html(resultat);

					setInterval(function() {

						date = new Date();

						h = date.getHours();
				        if(h<10)
				        {
				                h = "0"+h;
				        }

				        m = date.getMinutes();
				        if(m<10)
				        {
				                m = "0"+m;
				        }

				        resultat = h+':'+m;

				        $('nav #heure p').html(resultat);

					}, 1000);


					setInterval(function() {

						$('#edt').html('<h1>Prochains cours</h1><div class="slider_edt"><ul></ul></div>');

						// On récupere l'emploi du temps en json et on l'affiche en fonction de l'heure actuelle, à intervalle régulier // pour prendre en compte les modifications
						$.getJSON("{{ asset('bundles/mmitvfront/js/edt.js')}}")
							.done(function(json) {
								console.log("JSON Edt OK");

								var i=1;

								var creneau = '1';

								// On récupere la date pour calculer le creneau dans lequel on est

								date = new Date();

								h = date.getHours();
						        if(h<10)
						        {
						                h = "0"+h;
						        }

						        m = date.getMinutes();
						        if(m<10)
						        {
						                m = "0"+m;
						        }

						        // On calcule le créneau en cours
						        if(h>=7 && h<9){
						        	creneau= '1';
						        }

						        else if(h>=9 && h<10){
						        	creneau= '4';
						        }

						        else if(h>=10 && h<12){
						        	creneau= '7';
						        }

						        else if(h>=12 && h<15){
						        	creneau= '13';
						        }

						        else if(h>=15 && h<16){
						        	creneau= '16';
						        }

						        else if(h>=16 && h<18){
						        	creneau= '19';
						        }

						        else if(h>=18 && h<19){
						        	creneau= '22';
						        }

						        else{
						        	creneau = '1';
						        }
						        //


						        // On vérifie si il faut afficher ou non l'emploi du temps (5 minutes avant le cours et 5mn apres)

						        // Si il est 55, on affiche l'EDT
						        if(h==7 || h==10 || h==13 || h==16 && m==54){
						        	$('nav').attr('class', 'nav-open');
						        }

						        // Si il est 25, on affiche l'EDT
						        if(h==9 || h==12 || h==15 || h==18 && m==24){
						        	$('nav').attr('class', 'nav-open');
						        }

								if(h==8 || h==11 || h==14 || h==17 && m==04){
						        	$('nav').removeClass('nav-open');
						        }

						        if(h==9 || h==12 || h==15 || h==18 && m==34){
						        	$('nav').removeClass('nav-open');
						        }


								for(var promo in json){

									var edt = json[promo][creneau];

									console.log(edt);

									// on vérifie que la promo a bien cours dans ce créneau par sécurité
									if(isset(edt)){

										$('#edt .slider_edt>ul').append("<li><h2>"+promo+"</h2><ul></ul></li>");

										for(var groupe in json[promo][creneau]){

											var cours = json[promo][creneau][groupe];

											$('#edt .slider_edt>ul>li:nth-child('+i+')>ul').append("<li><p>Groupe "+groupe+" | "+cours.matiere+" en "+cours.salle+"</p></li>");
										}
										i++;
									}


								}

								// Après l'appel JSON on initialise le slider de l'edt
								$('.slider_edt').unslider({
									speed: 400, //temps de transition du slider (O = aucun effet de sliding)
									delay: 10000, //changer ici le temps de changement entre chaque tweets
									complete: function() {},
									keys: false,
									dots: false,
									fluid: false
								});

							})
							.fail(function(jqxhr, textStatus, error) {
							    var err = textStatus + ", " + error;
							    console.log( "JSON Edt Failed " + err );
							    $('.slider_edt').html('Erreur d\'affichage de l\'emploi du temps');
						});

					}, 41600);


					// Slider des tweets (bandeau inférieur)
					$('.slider_tweets').unslider({
						speed: 0, //temps de transition du slider (O = aucun effet de sliding)
						delay: 8000, //changer ici le temps de changement entre chaque tweets
						complete: function() {},
						keys: false,
						dots: false,
						fluid: false
					});
				});




		</script>

        <script type="text/javascript">
            var diffusion = false;
            var heureDeDiffusion = "";
            var heureActuelle= "";
            var now = {{ date().timestamp }} ;
            var lancement = 0;

            function actualiseNow(){
                setTimeout(actualiseNow, 1000);
                now = now + 1;
            }

            actualiseNow()


                if (2 > 1) {
                    diffusion = true;
                } else {
                    diffusion = false;
                }

                console.log(diffusion);

                if (!diffusion) {
                    document.getElementById("videos").innerHTML = '<video width="1920" height="1080" autoplay loop><source src="{{ asset('bundles/mmitvfront/images/offair2.mp4')}}" type="video/mp4"></video>';
                } else {

                    console.log('salut !');
                    console.log();


                    var videos = [];
                    $.ajax({
                        url: '{{ path("mmitv_front_json") }}',
                        dataType: 'json',
                        async: false,
                        success: function (video) {
                            videos.push(video)
                        }
                    });

                    var i = 0;

                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/player_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    var player;


                    function onYouTubePlayerAPIReady() {
                        console.log('oui ou non');
                        var lancement = videos[0][i]['debutVideos']['timestamp'];
                        console.log(lancement);
                        console.log(now);
                        if(lancement<now){
                            player = new YT.Player('ytplayer', {
                                height: '1080', // A CHANGER
                                width: '1920', // A CHANGER
                                videoId: videos[0][i]['lienVideos'],
                                playerVars: {
                                    'autoplay': 1,
                                    'controls': 1
                                },
                                events: {
                                    'onStateChange': onPlayerStateChange
                                }
                            });
                            i++;
                        }else{
                            setTimeout(onYouTubePlayerAPIReady, 8000);
                        }
                    }


                    function onPlayerStateChange(event) {
                        if(event.data == YT.PlayerState.ENDED){
                            stopVideo();
                            console.log('fini1 !');
                        }
                    }

                    function supprOnair(){
                        document.getElementById("onair").remove();
                    }

                    function stopVideo() {
                        player.stopVideo();
                        console.log('stopVideo');
                        if (videos[0][i] !== undefined) {
                            document.getElementById("videos").innerHTML='<video id="onair" width="1920" height="1080" autoplay loop><source src="{{ asset('bundles/mmitvfront/images/onair2.mp4')}}" type="video/mp4"></video>';
                            var lancement = videos[0][i]['debutVideos']['timestamp'];
                            console.log(lancement);
                            console.log(now);
                            if(lancement<now){
                                setTimeout(supprOnair, 8000);
                                setTimeout(player.loadVideoById(videos[0][i]['lienVideos']), 8000);
                                i++;
                            }else{
                                setTimeout(stopVideo, 8000);
                            }
                        } else {
                            document.getElementById("ytplayer").remove();
                            document.getElementById("videos").innerHTML = '<div id="ytplayer"></div>';
                            diffusion=false;
                            document.getElementById("videos").innerHTML = '<video width="1920" height="1080" autoplay loop><source src="{{ asset('bundles/mmitvfront/images/offair2.mp4')}}" type="video/mp4"></video>';
                        }
                    }
                }
        </script>

		<script>
			// var tweetURL = encodeURIComponent("https://twitter.com/Devergranne/status/586112559394197504");
			// var twitterAPI = "https://api.twitter.com/1.1/statuses/oembed.json?url="+tweetURL+"?hide_media=true?hide_thread=true?";

			// var twitterID = "test.js";

			// $.getJSON("{#{ asset('bundles/mmitvfront/js/test.js')}#}")
			//   .done(function( json ) {
			//   	$('.slider ul li').html(json.html);
			//     console.log( "JSON Data: " + json.url);
			//   })
			//   .fail(function( jqxhr, textStatus, error ) {
			//     var err = textStatus + ", " + error;
			//     console.log( "Request Failed: " + err );
			// });
		</script>



	</body>

</html>



