<!DOCTYPE html>
<html lang="fr">

	<head>

		<!--[if lt IE 9]>
	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width" />

	    <!-- Feuilles de style -->
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mmitvfront/style/style.css')}}">

		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>


	</head>

	<body>

		<nav id="nav">

			<div id="heure">
				<p></p>
			</div>

			<div id="edt">

				<h1>Prochains cours</h1>

				<div class="slider_edt">
					<ul>
						<!-- <li id="mmi1">

							<h2>MMI 1</h2>

						</li>

						<li id="mmi1d">

							<h2>MMI 1D</h2>

						</li>

						<li id="mmi2">

							<h2>MMI 2</h2>

						</li>

						<li id="mmi2d">

							<h2>MMI 2D</h2>

						</li>
 -->
					</ul>
				</div>

			</div>

		</nav>

		<div id="main-container">

			<!-- Vidéo de la page ici -->
			<img src="{{ asset('bundles/mmitvfront/images/bg.jpg')}}" alt="">

			<!-- <div id="player">
				<iframe src="https://www.youtube.com/embed/0vxOhd4qlnA" frameborder="0" allowfullscreen></iframe>
			</div> -->

			<!--  -->

			<div id="logo">
				<img src="{{ asset('bundles/mmitvfront/images/logo.svg')}}" alt="">
			</div>

			<div id="bandeau_tweets">


				<div class="slider_tweets container">
				    <ul>
					    {% for tweet in tweets %}
							<li>
								<p>{{ tweet.compteTweet }}</p>
							</li>
						{% endfor %}
				    </ul>
				</div>



			</div>

			<div id="synthe">
				<div id="left"><p>Vous regardez</p></div><!--
			 --><div id="right"><p>Interstellar - Christopher Nolan</p></div>
			</div>



		</div>

		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/main.js')}}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mmitvfront/js/unslider.js')}}"></script>

		<script>
			// var tweetURL = encodeURIComponent("https://twitter.com/Devergranne/status/586112559394197504");
			// var twitterAPI = "https://api.twitter.com/1.1/statuses/oembed.json?url="+tweetURL+"?hide_media=true?hide_thread=true?";

			// var twitterID = "test.js";

			// $.getJSON("{{ asset('bundles/mmitvfront/js/test.js')}}")
			//   .done(function( json ) {
			//   	$('.slider ul li').html(json.html);
			//     console.log( "JSON Data: " + json.url);
			//   })
			//   .fail(function( jqxhr, textStatus, error ) {
			//     var err = textStatus + ", " + error;
			//     console.log( "Request Failed: " + err );
			// });
		</script>



	</body>

</html>



